<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627256141862-sd34tda94rc3l793kpdj0h9j9jr3m0s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627256141862-sd34tda94rc3l793kpdj0h9j9jr3m0s9</string>
	<key>API_KEY</key>
	<string>AIzaSyBO1i5VDV1BovZx4ruj8Uw2xddRQREY8TI</string>
	<key>GCM_SENDER_ID</key>
	<string>627256141862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thimar</string>
	<key>PROJECT_ID</key>
	<string>thimar-1d43d</string>
	<key>STORAGE_BUCKET</key>
	<string>thimar-1d43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627256141862:ios:c0817100a46cfbb8bb5ee7</string>
</dict>
</plist>